services:
  db:
    image: postgis/postgis:latest
    container_name: realestate_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d realestatedb"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
